.container {
  width: 90%;
  margin: 20px auto;
  height: 100%;
  // height: 600px;
  // display: flex;
  // align-items: center;
  .container-content {
    height: 100%;
    // background-color: orange;
    background-color: #fff;
    padding: 30px;
    // margin-left: 80px;
    .header {
      .header-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .header-info {
        padding: 10px 0;
        .user {
          display: flex;
          align-items: center;
          .useravatar {
            width: 40px;
            height: 40px;
            border-radius: 40px;
          }
          .userName {
            font-size: 16px;
            margin-left: 10px;
          }
          .labels {
            display: flex;
            align-items: center;
            margin-left: 10px;
          }
        }
        .info {
          display: flex;
          align-items: center;
          font-size: 16px;
          margin-top: 10px;
          .icon {
            margin-right: 20px;
            .custom-icon {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .container-left {
    .authinfo {
      padding: 20px;
      background-color: #fff;
      margin-left: 20px;
      border-radius: 6px;
      .auth-header {
        display: flex;
        align-items: center;
        .auth-name {
          padding-left: 20px;
          font-size: 18px;
        }
      }
      .auth-content {
        width: 80%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .auth-content-item {
          .label {
            font-size: 16px;
            font-weight: bold;
            color: #8a919f;
          }
          .value {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      .auth-footer {
        width: 80%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /deep/ .ant-btn {
          padding: 0 25px !important;
        }
      }
    }
  }
  .tools {
    position: fixed;
    left: 20px;
    top: 100px;
  }
}
